body {
  background-color: white;
}

h1 {
  color: black;
}

p {
  color: black;
}

input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
}

#contactme
{
    height:100%;
    flex: 1 1 auto;
    margin:0 auto;
    display:block;
}

#contactme input{
    display:block;
}