body {
  background-color: white;
}

h1 {
  color: black;
}

p {
  color: black;
}

input[type=text], input[type=submit], textarea {
  border: 2px;
  border-radius: 4px;
  border:1px solid black;
  background: transparent;
  padding: 5px 5px; 
  line-height: 20px;
  width: 500px;
  color: #000;
}

#contactme
{
    height:100%;
    flex: 1 1 auto;
    margin:0 auto;
    display:block;
}

#contactme input{
    display:block;
}

form {
	margin: 0 auto; 
	width:250px;
}

select {
    border: 1px solid #000000;
    background-color: transparent;
	width: 500px;
}

#submit:hover {
	background-color: black;
	opacity: 0.2;
}

::placeholder {
	color: #000;
}

