body {
  background-color: white;
}

h1 {
  color: black;
}

p {
  color: black;
}

input[type=text], input[type=submit], textarea {
  border-radius: 10px;
  border: 0.5px solid black;
  background: transparent;
  padding: 5px 5px; 
  line-height: 20px;
  width: 500px;
  color: #000;
}

input[type=text]:focus, textarea:focus, select {
	outline: 0px solid black;
}

#contactme
{
    height:100%;
    flex: 1 1 auto;
    margin:0 auto;
    display:block;
}

#contactme input{
    display:block;
}

form {
	margin: 0 auto; 
	width:250px;
}

select {
    border: 0.5px solid #000000;
    background-color: transparent;
	width: 500px;
}

#submit:hover {
	background-color: transparent;
	opacity: 0.5;
	color: black;
}

::placeholder {
	color: #000;
}


  


