html {
	scroll-behavior: smooth;
}

body {
  background-color: rgb(29, 31, 33);
}

h1 {
  color: black;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: black;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

#legal-p {
	color: white;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

input[type=text], input[type=submit], textarea {
  border-radius: 10px;
  border: 1px solid black;
  background: transparent;
  padding: 15px 15px; 
  line-height: 60px;
  width: 90%;
  color: #000;
  font-size: large;
  font-weight: 1;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;
}

input[type=text]:focus, textarea:focus, select {
	outline: 0px solid black;
}

#contactme
{
	width: 100%;
    height: 100%;
    flex: 1 1 auto;
    margin:0 auto;
    display:block;
}

#contactme input{
    display:block;
}

form {
	margin: 0 auto; 
	width: 95%;
}

select {
	-webkit-appearance: none;
    border: 1px solid black;
	border-radius: 10px;
    background-color: transparent;
	width: 90%;
    font-size: large;
    font-weight: 1;
	padding: 15px 15px; 
	color: black;
	line-height: 60px;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
}

#submit:hover {
	background-color: transparent;
	opacity: 0.5;
	color: black;
}

::placeholder {
	color: #000;
}

#me-img, #img-project-detailed-icon-password_and_pin_generator, #img-appstore-badge {
	width: 40%;
}

#email-icon {
	width: 76.8px;
	height: 55.8px;
}

#linkedin-icon {
	width: 63.5px;
	height: 54px;
}

#instagram-icon, #apple-music-icon {
	width: 58px;
	height: 58px;
}

#instagram-icon, #email-icon, #apple-music-icon, #linkedin-icon{
	padding: 2%;
	margin: 29px;
}

#mailto:link, #mailto:visited, #instagram:link, #instagram:visited{
	color: black;
	text-decoration: none;
}

#mailto:hover, #mailto:active, #instagram:hover, #instagram:active {
	color: black;
	opacity: 0.5;
	text-decoration: none;
}

#menulink {
	font-family: Arial, Helvetica, sans-serif; /* change font later, maybe urbanist (from google)*/
	transition: 0.35s;
	margin: 2%;
	font-size: 24;
}

#menulink:link, #menulink:visited {
	color: white;
	text-decoration: none;
}

#menulink:hover, #menulink:active {
	color: rgb(58, 62, 66);
	opacity: 0.5;
	text-decoration: none;
}

hr {
	border-top: black;
}

img {
  border-radius: 25%;
}

#footer, #legal-footer {
	background-color: black;
}

#info-div {
	align-content: center;
	height: 100vh;
}

/* object of this class will be centered vertically and horizontically */
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}










* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
}

.menu {
	display: none;
}

.img-info p {
	padding: 20px 30px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line.height: 32px;
	text-align: justify;
}

.img {
	width: 40%;
	padding: 2%;
}

.img-project-detailed-icon, .img-project-detailed-icon:hover {
	width: 25%;
	padding: 2%;
	transform: none;
}

#support {
	background-color: #777;
}

/* all the seperator stuff*/
.seperator {
	height: 20vh;
}

.seperator2 {
	height: 8vh;
}

#aboutMe2projects {
	background-color: rgb(29, 31, 33);
}

#projects2donate {
	background-color: rgb(29, 31, 33);
}

#donate2getInTouch {
	background-color: rgb(29, 31, 33);
}

#support2footer {
	background-color: #777;
}

#spaceDark {
	background-color: rgb(29, 31, 33);
}

#spaceLight {
	background-color: #777;
}






/* it is only noted when display size at least 768px */
@media only screen and (min-width: 1000px) {
	/* show menu bar at the top*/
	.menu {
		display: block;
	}
	
	.wrapper {

		margin: 0 auto;
	}
	
	.img-info {
		width: 75%;
		/*float: right;*/
	}
	
	.img-info p {
		padding: 20px 0px 0px 40px;
	}
	
	.img {
		/*padding: 20px 0px 0px 0px;*/
		width: 18%;
		padding: 5vh;
		float: center;
	}
	
	#footer {
		display: none;
	}
	
	#projects { /* I think this can be removed */
		clear: right;
		clear: left;
	}
	
	#support {
		clear: right;
		clear: left;
	}
	
	form {
		width: 50%;
	}
	
	img:hover {
		transform: scale(1.1);
		transition: transform .25s ease;
	}
	
	img {
		transition: transform .25s ease;
	}
	
	input[type=text], input[type=submit], textarea {
	  line-height: 20px;
	  font-size: x-large;
	}
	
	select {
	    font-size: x-large;
		line-height: 20px;
	}
	
	.img-info p {
		font-size: 24px;
		line.height: 24px;
	}

	#me-img:hover, #cat-img:hover, #img-appstore-badge:hover {
		transform: none;
	}
	
	p {
		font-size: 24px;
	}
	
	h1 {
		font-size: xx-large;
	}
	
}


